<style>

.message {
  color: red;
  font-style: italic;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1, h3 {
  color: red;
  font-style: italic;
}
</style>

<h1><%= @user.username %></h1>

<% if @user.cards.any? %>
<h3>This collection has a total value of $<%= separate_comma(@user.cards.sum(:price)) %> - Below are the cards in this collection (<%= @user.cards.all.size%> total):</h3>

<table>
  <tr>
    <th>Player</th>
    <th>Brand</th>
    <th>Year</th>
  </tr>
  <tr>
  <% @user.cards.each do |card| %>
      <td><a href="/cards/<%= card.id %>"><%=card.player_name%></a></td>
      <td> <%= card.brand %></td>
      <td ><%= card.year %></td>
  </tr>
    <% end %>
</table>
  <% else %>
     <h2>There are currently no baseball cards in this collection</h2>
     <% if @user == current_user %>
     <p><a href="/cards/new">Add your first card to your collection</a><p>
    <% end %>
<% end %>