<h1><%= @card.player_name %></h1>

<style>
img {
  width: 300px;
  height: 300px
}
</style>

    <img src=<%= @card.image %> alt="Picture of <%= @card.player_name %>" title="<%= @card.player_name %> card"/>
    <p>Brand: <%= @card.brand %></p>
    <p>Year: <%= @card.year %></p>
    <p>Grade: <%= @card.grade %></p>
    <p>Note: <%= @card.note %></p>
    <p>Price: $<%= @card.price %></p>
    <p>Owner: <a href="/users/<%=@card.user.id%>"><%= @card.user.username %></a></p>


    <% if current_user == @card.user%>
    <a href="/cards/<%= @card.id %>/edit">Edit <%= @card.player_name %></a>

    <form action="/cards/<%= @card.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete card">
    </form>
    <% end %>
 